.dz-load-more i,
.loadmore-btn i
{
  display:none;
  width:18px;
  margin-left:5px;
}

.dz-load-more.active i,
.loadmore-btn.active i
{
  display:inline-block;
  
}
.says, .comment-meta{
	display:none;
}
/* Work Add For SASS */


.subscribe-section{
	z-index:9;
}
.dz-subscription-msg {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 9999;
}

.post-audio iframe{
	width:100%;
	height:400px;
}

.question_img{
	
	width:80px;
}

.dz-ajax-overlay{
	position: relative;
}
	
.dz-ajax-overlay:before{
	content: "";
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.8;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
    border-radius: 4px;
}

/* Elementor CSS */

.sticky-top.elementor-widget{
	position:sticky;
}

/* Elementor CSS END */


 /* Boxed Layout CSS */ 
 #bg {
  background-attachment: fixed;
  background-size: cover; }


/* Post Video */
.dz-media iframe{
    border-radius: 10px;
    width: 100%;
    height: 400px;
}

/* Post Video */

.post-swiper-thumb {
		height: 80%;
		width: 100%;
}
.post-swiper-thumbs {
		height: 20%;
		box-sizing: border-box;
		padding: 10px 0;
}
.post-swiper-thumbs .swiper-slide {
		width: 20%;
		height: 100%;
		opacity: 0.4;
}
.post-swiper-thumbs .swiper-slide-active {
		opacity: 1;
}

.wp-block-code>code {
    color: #fff;
}
.ltr-dir{
	direction:ltr;
}


/* image size set */

.ls-inputicon-box .job-manager-uploaded-file-preview .job-manager-remove-uploaded-file {
	background: #dc3c3c;
    border-radius: 3px;
    padding: 8px;
    color: #fff;
    font-size: 13px;
		
}

.ls-inputicon-box .job-manager-uploaded-file-preview img {
    max-width: 420px;
	max-height: 320px;
	border-radius:10px;
}

.ls-inputicon-box .job-manager-uploaded-file-preview{
	position: relative;
    display: inline-block;
    margin: 20px 0px;
    border: 1px solid #eee;
    border-radius: 10px;
}
.ls-inputicon-box .job-manager-uploaded-file-preview  .job-manager-remove-uploaded-file:after{
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #fff;
    font-size: 12px;
}
.ls-inputicon-box .job-manager-uploaded-file-preview  .job-manager-remove-uploaded-file{
	position: absolute;
    right: -10px;
    top: -10px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 0;
    line-height: 30px;
    border-radius: 50px;
    font-size: 0;
}

.twm-social-tags .company_twitter{
	background-color: #38b2e1;
	
}
.preview .modal-footer{
	border-top: 0px ;
}
 .preview{
	border: 0px ;
	border-radius: 0;
}
.preview .modal-footer h2{

    font-size: 36px;
}
.preview .outline-primary{
	    margin-right: 10px;
}
.preview .site-button{
	padding: 10px 24px;
}
@media (max-width: 576px){
	.preview .site-button{
	    padding: 10px 15px;
		font-size: 12px;
		margin: 0;
	}
	
}
.wt-select-box .select2-container--default{
	    display: none;
	
}
.twm-candidate-address .google_map_link{
	    color: #fff;
}
.resume-manager-data-row{
	padding-right: 40px;
}
.resume-manager-data-row .resume-manager-remove-row{
    background: #ff0000;
    position: absolute;
    top: 42px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 2em 0 0 0;
    margin: 0;
    right: 12px;
}
.job-manager-form fieldset label{
	width:100% !important;
	
}
.resume-manager-data-row .resume-manager-remove-row::before {
	 content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #fff;
    font-size: 13px;
	height: 30px;
	width: 30px;
	line-height:30px;
	
}
 /* change css */
textarea.form-control{
	height: auto;
}
.job_application .bs-searchbox .form-control{
	width:100%;
}
.job_application .dropdown-item{
	    white-space: normal;
}
.twm-sign-up .wp-job-manager-bookmarks-form{
	border:none;
}
.bookmark-icon{
	position: absolute;
	top:20px;
	right:20px;
}
.remove-bookmark i{
	background:#1967d2;
	padding: 14px;
	color:#fff;
	border-radius: 10px;
}
.bookmark-notice{
    padding: 9px 16px;
    background: #faf1c8;
    border-radius: 10px;
    display: inline-block;
}
.review-form-title{
		margin-bottom: 1rem !important;
}
.review-form-gallery .btn-primary {
	background:none;
	padding: 0px;
	color:#000;
	border-color: snow;
}
#mas-wpjmcr-submit-ratings label{
	margin-bottom:10px;
}
#mas-wpjmcr-submit-ratings {
    margin-bottom: 10px;
}
.review-form-gallery .file-attachment-btn{
	width: 100%;
	text-align: start;
	position: relative;
}
.review-form-gallery .file-attachment-btn__label{
	width: 100%;
	height: 60px;
    padding: 18px;
	border: none;
	background-color: #dbe6f7;
	border-radius: 10px;
}
#respond .star-ratings.ratings.list-inline {
    display: inline-flex;
    width: 100%;
}
.comments-area .comment-form{
	border-radius:10px;
}
#respond #mas-wpjmcr-submit-ratings .rating-row {
	width: 33%;
    padding: 0 20px;
    border-right: 1px solid #e0e0e0;
}
#respond #mas-wpjmcr-submit-ratings .rating-row:last-child {
    border-right: none;
}
#mas-wpjmcr-review-title .form-control:focus{
	border:2px solid #000;
}


/* company css */
.wpjmc-companies .company .company-inner{
	background-color: #fff;
    border: 10px;
    box-shadow: 0px 0px 25px rgb(56 152 226 / 30%);
    position: relative;
    padding: 25px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
	margin-bottom: 3rem;
}

.wpjmc-companies .company .company-inner .company-logo{
	width: 150px;
    height: 150px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgb(56 152 226 / 30%);
    margin-right: 40px;
    position: absolute;
    bottom: -20px;
    line-height: 150px;
	
}
.wpjmc-companies .company .company-inner .company-body{
	padding-left: 180px;
}

/*  sidebar css */
.wp-container-1 .wp-block-group__inner-container .wp-block-tag-cloud{
	    margin-top: -10px;
}
.wp-container-1 .wp-block-group__inner-container .wp-block-tag-cloud a{
	padding: 5px 15px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    color: #1967d2;
    border-radius: 6px;
    font-size: 14px!important;
    background-color: #dbe6f7;
}

.wp-container-1 .wp-block-group__inner-container .wp-block-tag-cloud a:hover {
    background-color: #1967d2;
    color: #fff;
}

/*company css */

.company_preview  h1{
	display:none;
	
}

.content-admin-main .company_preview_title {
	position: relative;
    align-items: center;
    margin: 0;
    top: 0;
    justify-content: space-around;
    flex-direction: row-reverse;
    gap: 10px;
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 20px 30px 20px 30px;
    margin-bottom: -7px;
    background: #fff;
    border-radius: 10px 10px 0 0;
}
@media (max-width: 767px){
	.content-admin-main .company_preview_title {
		 padding: 15px 20px;
		
	}
}
.content-admin-main .company_preview_title h2{
    margin-right: auto;
    margin-bottom: 0;
    font-size: 1.25rem;
}
.content-admin-main .company_preview_title .button{
position: unset;
    right: 218px;
    outline: none;
    color: #fff;
    padding: 12px 20px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    display: inline-table;
    background-color: #1967d2;
    border: none;
    font-size: 14px;
    font-weight: 400;
    transition: 0.5s all ease;
}
.content-admin-main .company_preview_title .button:hover{
	  color: #000;
}
.content-admin-main .company_preview_title #company_preview_submit_button{
	right:0px;
}


.company-manager-form .job-manager-uploaded-files{
	display: flex;
    flex-wrap: wrap;
	margin-bottom:15px;
    margin-left: -10px;
    margin-right: -10px;
}
.company-manager-form .job-manager-uploaded-files .job-manager-uploaded-file:last-child{
	margin-right:0px
}
.company-manager-form .job-manager-uploaded-files .job-manager-uploaded-file:nth-child(9){
	margin-right:0px
}
.company-manager-form .job-manager-uploaded-files .job-manager-uploaded-file:nth-child(6){
	margin-right:0px
}
.company-manager-form .job-manager-uploaded-files .job-manager-uploaded-file:nth-child(3){
	 margin-right:0px
}
.company-manager-form .job-manager-uploaded-files .job-manager-uploaded-file{
flex: 0 0 25%;
    max-width: 25%;
    padding: 0 10px;
}	
@media (max-width: 991px){
	.company-manager-form .job-manager-uploaded-files .job-manager-uploaded-file{
		flex: 0 0 50%;
		max-width: 50%;
	}	
	
}

.company-manager-form  .ls-inputicon-box .job-manager-uploaded-files .job-manager-uploaded-file-preview img {
   max-width: 100%;
}
 /* loader css */

.dz-ajax-loader {
  display: inline-block;
  position: relative;
 
}
.dz-ajax-loader:before{
	content: "";
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
	z-index: 99999;
    background-color: #000;
	opacity: 0.5;
	
}
.dz-ajax-loader:after{
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  border: 8px solid #1967d2;
  border-radius: 50%;
  animation: dz-ajax-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1967d2 #1967d2 #1967d2  transparent;
	content: " ";
	margin: auto;
    top: 50%;
    left: 50%;
    z-index: 999999;
    transform: translate(-50%, -50%);
}
.dz-ajax-loader {
  animation-delay: -0.45s;
}
.dz-ajax-loader {
  animation-delay: -0.3s;
}
.dz-ajax-loader {
  animation-delay: -0.15s;
}
@keyframes dz-ajax-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 
.dz-ajax-loader {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
.dz-ajax-loader:before{
	content: "";
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
	z-index: 99999;
    background-color: #000;
	opacity: 0.5;
}
.dz-ajax-loader:after {
	content: " ";
	display: block;
	border-radius: 50%;
	width: 0;
	height: 0;
	margin: auto;
	box-sizing: border-box;
	border: 32px solid #1967d2;
	border-color: #1967d2 transparent #1967d2 transparent;
	animation: dz-ajax-loader 1.2s infinite;
	position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999999;
    transform: translate(-50%, -50%);
}
@keyframes dz-ajax-loader {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

 */

#loading-area {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999999999;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    background: #fff;
}

/* messages css */
.messages{
	position: absolute;
    bottom: 20px;
    right: 20px;
}

.messages i{
	background: #1967d2;
    padding: 14px;
    color: #fff;
    border-radius: 10px;
}
 /* job sidebar  */
 
.side-bar .sidebar-elements  .job_filters{
	background:none;
}

.side-bar .sidebar-elements   .job_filters .search_jobs div.search_keywords, .job_filters .search_jobs div.filter_first {
	width:100%;
	padding:0px;
}
.side-bar .sidebar-elements  .job_filters .search_jobs div.search_location, .job_filters .search_jobs div.filter_last {
	width:100%;
	padding:0px;
}

.search_categories .selection{
	display:none;
}
.search_region .selection{
	display:none;
}
.side-bar .sidebar-elements .job_filters .search_jobs div.search_categories, .job_filters .search_jobs div.filter_wide {
	padding: 0px!important;
}
.filter_wide{
	font-size: 18px;
    font-weight: 500;
	padding: 0px!important;
}
.side-bar .sidebar-elements .filter_wide .filter_by_tag_cloud{
	display: block;
	margin-bottom: 1.5rem!important
}
.side-bar .sidebar-elements .filter_wide .filter_by_tag_cloud .tag-cloud-link{
    padding: 10px 20px!important;
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline-block;
    color: #1967d2;
    border-radius: 6px;
    font-size: 16px!important;
    background-color: #dbe6f7;
    font-weight: 400;
}

.side-bar .sidebar-elements .filter_wide .filter_by_tag_cloud .tag-cloud-link.active,
.side-bar .sidebar-elements .filter_wide .filter_by_tag_cloud .tag-cloud-link:hover{
	background-color: #1967d2;
    color: #fff;
}
.job_filters .search_jobs .filter_by_tag a.active{
	background-color: #1967d2;
    color: #fff;
}


.job_filters .job_types{
	margin: 0px;
	border-top:0px;
    background: transparent;
}
.job_filters .job_types li{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 15px;
    color: #666666;
	border-right:0px;
	padding:0px;
	float: unset;
	
}

.showing_jobs .rss_link{
	display:none;
}
.showing_jobs span{
	font-size: 18px; 
	font-weight:500;
}

.showing_jobs a{
	font-weight: 400;
    font-size: 15px;
	color:#1967d2;
}

.showing_jobs .reset{
	position:relative;
	font-size:0px;
}
.showing_jobs .reset:before{
	color:#fff;
	content: "\f2f1";
	position: absolute;
	font-family: "Font Awesome 5 Free";
	font-weight: 700;
	font-size:14px;
	width: 40px;
	left:-35px;
    text-align: center;
    height: 40px;
    background: #1967d2;
    line-height: 40px;
    border-radius: 50%;
}
.job_filters .showing_jobs{
    padding: 0px; 
    background: none; 
    border-top: 0px;
}

.rp4wp-related-job_listing>ul li.job_listing.job_position_featured a, .rp4wp-related-job_listing>ul li.no_job_listings_found.job_position_featured a, ul.job_listings li.job_listing.job_position_featured a, ul.job_listings li.no_job_listings_found.job_position_featured a{
	background:none;
}
.rp4wp-related-job_listing>ul li.job_listing a, .rp4wp-related-job_listing>ul li.no_job_listings_found a, ul.job_listings li.job_listing a, ul.job_listings li.no_job_listings_found a{
	background:none!important;
	padding:0px;
}
.rp4wp-related-job_listing>ul li.job_listing, .rp4wp-related-job_listing>ul li.no_job_listings_found, ul.job_listings li.job_listing, ul.job_listings li.no_job_listings_found{
	border-bottom:0px;
}
.job-manager .twm-right-content .twm-jobs-category{
	color:#fff!important;
}
.rp4wp-related-job_listing>ul li.job_listing.job_position_filled a, .rp4wp-related-job_listing>ul li.no_job_listings_found.job_position_filled a, ul.job_listings li.job_listing.job_position_filled a, ul.job_listings li.no_job_listings_found.job_position_filled a{
	    opacity: 1;
}

.twm-jobs-list-wrap .job_listings{
	 border-top: 0px!important;
}

.twm-jobs-list-wrap .job_listings .no_job_listings_found {
    padding: 1em;
    border-bottom: 0px!important;
	border-radius:3px;
	color:#dbe6f7;
	background-color:#1967d2;
}
.showing_jobs{
	position:relative;
	height:100px;
}
.showing_jobs .alert{
	position:absolute;
	left:0px;
	padding: 0px!important; 
    margin-bottom:0px;
	bottom: 0;
}

.single-user-msg-conversation .messageloadmore i{
	color:#1967d2;
}
.single-user-msg-conversation .messageloadmore{
	text-align: center;
    justify-content: center;
    display: block;
    color: #1967d2;
	
}
/* resume list and filters */

ul.resumes li.resume.resume_featured a, ul.resumes li.no_resumes_found.resume_featured a {
     background: none; 
}
ul.resumes li.resume a, ul.resumes li.no_resumes_found a{
	padding:0px;
}

ul.resumes li.resume.resume_featured a:hover, ul.resumes li.resume.resume_featured a:focus, ul.resumes li.no_resumes_found.resume_featured a:hover, ul.resumes li.no_resumes_found.resume_featured a:focus{
    background: none!important;
	color: #17171d;
}

ul.resumes li.resume, .resumes li.no_resumes_found{
	border-bottom: 0px;
	list-style:none;
} 

.resumes .no_resumes_found {
    padding: 1em;
    border-bottom: 0px!important;
	border-radius:3px;
	color:#dbe6f7;
	background-color:#1967d2;
} 
.rp4wp-related-job_listing>ul.loading, ul.job_listings.loading{
	border-bottom: 0px;
}
div.job_listings .job-manager-pagination{
	border-bottom: 0px!important;
}
.rp4wp-related-resumes>ul.loading, ul.resumes.loading{
	border-bottom: 0px;
}
div.resumes .job-manager-pagination {
	border-bottom: 0px!important;
}
.twm-candidates-grid-wrap ul.resumes {
	border-top: 0px;
}
.twm-candidates-list-wrap ul.resumes{
	border-top: 0px;
}
.side-bar .sidebar-elements .resume_filters{
	background:none;
}
.rightSidebar .side-bar .sidebar-elements .resume_filters .search_resumes{
	padding:0px;
}

.rightSidebar .side-bar .sidebar-elements .resume_filters .search_resumes div.resume-filter.search_keywords{
    padding-right: 0px;
	float: unset;
}

.rightSidebar .side-bar .sidebar-elements .resume_filters .search_resumes div.resume-filter{
	width: 100%;
    box-sizing: border-box;
}

.rightSidebar .side-bar .sidebar-elements .resume_filters .search_resumes div.resume-filter.search_location{
	padding-left: 0px;
	float: unset;
}

.rightSidebar .side-bar .sidebar-elements .resume_filters .search_resumes div.resume-filter.search_categories{
	    padding-top: 0px;
}

.profile_viewe{
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile_viewe .wt-select-bar-large .btn-light{
	background-color: #f8f9fa!important;
	height: 50px;
    line-height: 50px;
	font-size: 14px;
}
.profile_viewe .dropdown-menu.show {
    width: 100%;
}
.jobzilla-video{
	height: 371px!important;
	width: 716px!important;
}

.category-5-slider-area .swiper-button-prev::after,
.category-5-slider-area .swiper-button-next::after{
	display: none!important;
}
.password-strength{
    text-align: left;
    margin-top: 5px;
    text-align: left;
    border-radius: 10px;
    color: black;	
   overflow: hidden;
}
.password-strength div{
  padding: 5px 10px;
}
.strong-password{
    background: #cef5ce;
}

.medium-password{
    background: #ffdd0045;
}

.weak-password{
    background: #ffd1d1;
	
}

.no-record-found{
	position: relative;
	padding: 1rem 1rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	text-align: center;
	top: 44%;
	font-weight: 600;
	text-align: center;
	font-size: 16px;
	margin: 0 14px;
	
}

.post-swiper-2 .swiper-button-prev,
.post-swiper-2 .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: var(--primary);
  color: #fff;
  font-size: 18px;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: var(--border-radius-base);
  margin: 0 10px; }

.post-swiper-2 .swiper-button-prev {
  left: 0; }

.post-swiper-2 .swiper-button-next {
  right: 0; }
.post-swiper-2 .swiper-button-prev:after,
.post-swiper-2 .swiper-button-next:after {
	content:none;
	
}

.twm-blog-post-2-outer .wt-post-info{
	z-index:1;
}
.twm-blog-post-2-outer .wt-post-media{
	z-index:0;
}
div.job_listings .load_more_jobs.loading{
	background-color:#000;
}

.review-form-gallery{
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 15px;
}
.file-attachment-btn pre{
	display: none;
}
select + .select2-container {
    width: 100% !important;
    position: relative;
}
