@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/CSRp4ydQnPyaDxEXLFF6LZVLKrodhu8t57o1kDc5Wh5v3rbIlrA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/CSRp4ydQnPyaDxEXLFF6LZVLKrodhu8t57o1kDc5Wh7v37bIlrA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/CSRp4ydQnPyaDxEXLFF6LZVLKrodhu8t57o1kDc5Wh4x37bIlrA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/CSRp4ydQnPyaDxEXLFF6LZVLKrodhu8t57o1kDc5Wh5v37bIlrA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/CSRp4ydQnPyaDxEXLFF6LZVLKrodhu8t57o1kDc5Wh5d37bIlrA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/CSRp4ydQnPyaDxEXLFF6LZVLKrodhu8t57o1kDc5Wh6x2LbIlrA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/CSRp4ydQnPyaDxEXLFF6LZVLKrodhu8t57o1kDc5Wh6I2LbIlrA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/CSRp4ydQnPyaDxEXLFF6LZVLKrodhu8t57o1kDc5Wh7v2LbIlrA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/CSRp4ydQnPyaDxEXLFF6LZVLKrodhu8t57o1kDc5Wh7G2LbIlrA.ttf) format('truetype');
}
